<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  
  
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="SAPConnectionConfig" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <add name="cnnCOS" connectionString="Data Source=cooccapp12;Initial Catalog=SCDB_P;Persist Security Info=True;User ID=soporteh;Password=SHCAdmon#$%" providerName="System.Data.SqlClient" />
    <add name="cnnSAPDB" connectionString="Data Source=cooccapp12;Initial Catalog=SAPDBP;Persist Security Info=True;User ID=acsapappuser;Password=acsapappuser$" providerName="System.Data.SqlClient" />
    <add name="SCDBAdmEntities" connectionString="metadata=res://*/EntityDataModel.SCAdm_DM.csdl|res://*/EntityDataModel.SCAdm_DM.ssdl|res://*/EntityDataModel.SCAdm_DM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cooccapp12;Initial Catalog=SCDB_P;Persist Security Info=True;User ID=scappuser;Password=scappuser$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ADCOString" connectionString="Provider=SQLNCLI12;Data Source=cooccapp12;Persist Security Info=True;Password=SHCAdmon#$%;User ID=SoporteH;Initial Catalog=ADCO" providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <system.web>
    <customErrors defaultRedirect="~/Account/ErrorPages/Error.aspx" mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true" enableEventValidation="false" enableSessionState="true">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms cookieless="UseDeviceProfile" name=".SC" timeout="120" loginUrl="~/Account/Login.aspx" path="/SINCO_Q/" protection="All" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" cookieless="UseDeviceProfile" cookieName="Session_sinco" timeout="120" />
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
    <!-- Modulo de Autorizacion -->
    <httpModules>
      <add type="Infrastructure.HttpModule.CustomAuthenticationModule, Infrastructure" name="CustomAuthenticationModule" />
    </httpModules>
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" />-->
    <httpRuntime executionTimeout="360000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IUsrDAO" type="Persistence.DAO.Usr.IUsrDAO,Persistence" />
    <alias alias="UsrDAO" type="Persistence.DAO.Usr.UsrDAO,Persistence" />
    <alias alias="IRolDAO" type="Persistence.DAO.Rol.IRolDAO,Persistence" />
    <alias alias="RolDAO" type="Persistence.DAO.Rol.RolDAO,Persistence" />
    <alias alias="IPaisDAO" type="Persistence.DAO.Pais.IPaisDAO,Persistence" />
    <alias alias="PaisDAO" type="Persistence.DAO.Pais.PaisDAO,Persistence" />
    <alias alias="IPageDAO" type="Persistence.DAO.Pg.IPageDAO,Persistence" />
    <alias alias="PageDAO" type="Persistence.DAO.Pg.PageDAO,Persistence" />
    <alias alias="IMPageDAO" type="Persistence.DAO.MPg.IMPageDAO,Persistence" />
    <alias alias="MPageDAO" type="Persistence.DAO.MPg.MPageDAO,Persistence" />
    <alias alias="IStaRgDAO" type="Persistence.DAO.StaRg.IStaRgDAO,Persistence" />
    <alias alias="StaRgDAO" type="Persistence.DAO.StaRg.StaRgDAO,Persistence" />
    <alias alias="ITExcpDAO" type="Persistence.DAO.Excp.TExcp.ITExcpDAO,Persistence" />
    <alias alias="TExcpDAO" type="Persistence.DAO.Excp.TExcp.TExcpDAO,Persistence" />
    <alias alias="IExCliDAO" type="Persistence.DAO.Excp.IExCliDAO,Persistence" />
    <alias alias="ExCliDAO" type="Persistence.DAO.Excp.ExCliDAO,Persistence" />
    <alias alias="IEmpDAO" type="Persistence.DAO.Emp.IEmpDAO,Persistence" />
    <alias alias="EmpDAO" type="Persistence.DAO.Emp.EmpDAO,Persistence" />
    <alias alias="IExMsgDAO" type="Persistence.DAO.Excp.ExMsg.IExMsgDAO,Persistence" />
    <alias alias="ExMsgDAO" type="Persistence.DAO.Excp.ExMsg.ExMsgDAO,Persistence" />
    <alias alias="ILogsDAO" type="Persistence.DAO.Logs.ILogsDAO,Persistence" />
    <alias alias="LogsDAO" type="Persistence.DAO.Logs.LogsDAO,Persistence" />
    <alias alias="ISimDAO" type="Persistence.DAO.Sim.ISimDAO,Persistence" />
    <alias alias="SimDAO" type="Persistence.DAO.Sim.SimDAO,Persistence" />
    <alias alias="ICmpUsr" type="Components.Usr.ICmpUsr,Components" />
    <alias alias="CmpUsr" type="Components.Usr.CmpUsr,Components" />
    <alias alias="ICmpPais" type="Components.Pais.ICmpPais,Components" />
    <alias alias="CmpPais" type="Components.Pais.CmpPais,Components" />
    <alias alias="ICmpCache" type="Components.Cache.ICmpCache,Components" />
    <alias alias="CmpCache" type="Components.Cache.CmpCache,Components" />
    <alias alias="ICmpPg" type="Components.Pg.ICmpPg,Components" />
    <alias alias="CmpPg" type="Components.Pg.CmpPg,Components" />
    <alias alias="ICmpMPg" type="Components.MPg.ICmpMPg,Components" />
    <alias alias="CmpMPg" type="Components.MPg.CmpMPg,Components" />
    <alias alias="ICmpRol" type="Components.Rol.ICmpRol,Components" />
    <alias alias="CmpRol" type="Components.Rol.CmpRol,Components" />
    <alias alias="ICmpStaRg" type="Components.StaRg.ICmpStaRg,Components" />
    <alias alias="CmpStaRg" type="Components.StaRg.CmpStaRg,Components" />
    <alias alias="ICmpRepUsr" type="Components.Rep.Usr.ICmpRepUsr,Components" />
    <alias alias="CmpRepUsr" type="Components.Rep.Usr.CmpRepUsr,Components" />
    <alias alias="ICmpEx" type="Components.Excp.ICmpEx,Components" />
    <alias alias="CmpEx" type="Components.Excp.CmpEx,Components" />
    <alias alias="ICmpExMsg" type="Components.Excp.ExMsg.ICmpExMsg,Components" />
    <alias alias="CmpExMsg" type="Components.Excp.ExMsg.CmpExMsg,Components" />
    <alias alias="ICmpLog" type="Components.Logs.ICmpLog,Components" />
    <alias alias="CmpLog" type="Components.Logs.CmpLog,Components" />
    <alias alias="ICmpSim" type="Components.Sim.ICmpSim,Components" />
    <alias alias="CmpSim" type="Components.Sim.CmpSim,Components" />
    <container name="Dao">
      <register type="IUsrDAO" mapTo="UsrDAO" />
      <register type="IRolDAO" mapTo="RolDAO" />
      <register type="IPaisDAO" mapTo="PaisDAO" />
      <register type="IPageDAO" mapTo="PageDAO" />
      <register type="IMPageDAO" mapTo="MPageDAO" />
      <register type="IStaRgDAO" mapTo="StaRgDAO" />
      <register type="ITExcpDAO" mapTo="TExcpDAO" />
      <register type="IExCliDAO" mapTo="ExCliDAO" />
      <register type="IEmpDAO" mapTo="EmpDAO" />
      <register type="IExMsgDAO" mapTo="ExMsgDAO" />
      <register type="ILogsDAO" mapTo="LogsDAO" />
      <register type="ISimDAO" mapTo="SimDAO" />
    </container>
    <container name="Cmp">
      <register type="ICmpUsr" mapTo="CmpUsr" />
      <register type="ICmpPais" mapTo="CmpPais" />
      <register type="ICmpCache" mapTo="CmpCache" />
      <register type="ICmpPg" mapTo="CmpPg" />
      <register type="ICmpMPg" mapTo="CmpMPg" />
      <register type="ICmpRol" mapTo="CmpRol" />
      <register type="ICmpStaRg" mapTo="CmpStaRg" />
      <register type="ICmpRepUsr" mapTo="CmpRepUsr" />
      <register type="ICmpEx" mapTo="CmpEx" />
      <register type="ICmpExMsg" mapTo="CmpExMsg" />
      <register type="ICmpLog" mapTo="CmpLog" />
      <register type="ICmpSim" mapTo="CmpSim" />
    </container>
  </unity>
  
  <SAPConnectionConfig>
    <add key="ServerHost" value="MXOCCSAPMRP02.NOAM.CEMEXNET.COM" />
    <add key="SystemNumber" value="00" />
    <add key="SystemID" value="MRP" />
    <add key="Client" value="500" />
    <add key="Language" value="ES" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="600" />
    <add key="ResultSeparator" value="|" />
    <add key="User" value="SAPMRPSOPORT" />
    <add key="Password" value="SHCAdmon#$%01" />
    <add key="SAPOnlineConnection" value="true" />
  </SAPConnectionConfig>
  <appSettings>
    <add key="DomainName" value="SOAM" />
    <add key="Path_LDAP_Directory_Server" value="LDAP://soam.cemexnet.com" />
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="ServiceModel" />
      <add name="CustomAuthenticationModule" type="Infrastructure.HttpModule.CustomAuthenticationModule, Infrastructure" />
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
      <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Account/Login.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="svc-Integrated" />
      <remove name="xoml-Integrated" />

      <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.aspq_*" path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
    <!--<handlers>
      <remove name="svc-Integrated" />
      <remove name="xoml-Integrated" />
      <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.aspq_*" path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xamlx_*" path="*.xamlx" verb="*" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>-->
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <error statusCode="403" subStatusCode="4" path="https://ADMCIAL.CEMEX.COM/SINCO" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_OS_CustomerStatementBinding" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_OS_CustomerStatementBinding1" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CHTB" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:03:00">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" />
        </binding>
        <binding name="ZB_ORDTAKINGCRM" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:03:00">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://cemex.com/portalcrm/OrderTaking/OrderTakingCRM':    -->
          <!--    <wsdl:binding name='ZB_ORDTAKINGCRM'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mxoccsapawp01.noam.cemexnet.com:8180/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTP_Port" />
      <!--<endpoint address="http://mxoccsapeip01.noam.cemexnet.com:8180/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTP_Port" />-->
      <endpoint address="https://mxoccsapeip01.noam.cemexnet.com:51001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="basicHttpBinding" bindingConfiguration="SI_OS_CustomerStatementBinding1" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTPS_Port" />
      <endpoint address="http://mxoccsapmrp02.noam.cemexnet.com:8000/sap/bc/srt/xip/sap/zsi_is_external_to_ordertaking/500/zs_ordtakingcrm/zb_ordtakingcrm" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_SO_MRP.SI_IS_External_to_OrderTakingCRM" name="ZB_ORDTAKINGCRM" />
      <!--<endpoint address="http://10.0.1.7:8088/mockSI_OS_CustomerStatementBinding" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTP_Port" />
      <endpoint address="https://mxoccsapeip01.noam.cemexnet.com:51001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="basicHttpBinding" bindingConfiguration="SI_OS_CustomerStatementBinding1" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTPS_Port" />
      <endpoint address="http://10.0.1.7:8088/mockZB_ORDTAKINGCRM" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_SO_MRP.SI_IS_External_to_OrderTakingCRM" name="ZB_ORDTAKINGCRM" />-->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="SAPConnectionConfig" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>
    <add name="cnnCOS" connectionString="Data Source=COOCCAPP11;Initial Catalog=SCDB_Q;Persist Security Info=True;User ID=scappuser;Password=scappuser$" providerName="System.Data.SqlClient" />
    <add name="cnnSAPDB" connectionString="Data Source=COOCCAPP11;Initial Catalog=SAPDBP;Persist Security Info=True;User ID=acsapappuser;Password=acsapappuser$" providerName="System.Data.SqlClient" />
    <add name="SCDBAdmEntities" connectionString="metadata=res://*/EntityDataModel.SCAdm_DM.csdl|res://*/EntityDataModel.SCAdm_DM.ssdl|res://*/EntityDataModel.SCAdm_DM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=COOCCAPP11;Initial Catalog=SCDB_Q;Persist Security Info=True;User ID=scappuser;Password=scappuser$;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ADCOString" connectionString="Provider=SQLNCLI11;Data Source=COOCCAPP11;Persist Security Info=True;Password=SoporteH01;User ID=SoporteH;Initial Catalog=ADCO" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="~/Account/ErrorPages/Error.aspx" mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true" enableEventValidation="false" enableSessionState="true">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms cookieless="UseDeviceProfile" name=".SC" timeout="120" loginUrl="~/Account/Login.aspx" path="/SCSAP_Q/" protection="All" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" cookieless="UseDeviceProfile" cookieName="Session_SCSAP_Q" timeout="120" />
    <authorization>
      <deny users="?" />
    </authorization>
    <httpModules>
      <add type="Infrastructure.HttpModule.CustomAuthenticationModule, Infrastructure" name="CustomAuthenticationModule" />
    </httpModules>
    <httpRuntime executionTimeout="360000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IUsrDAO" type="Persistence.DAO.Usr.IUsrDAO,Persistence" />
    <alias alias="UsrDAO" type="Persistence.DAO.Usr.UsrDAO,Persistence" />
    <alias alias="IRolDAO" type="Persistence.DAO.Rol.IRolDAO,Persistence" />
    <alias alias="RolDAO" type="Persistence.DAO.Rol.RolDAO,Persistence" />
    <alias alias="IPaisDAO" type="Persistence.DAO.Pais.IPaisDAO,Persistence" />
    <alias alias="PaisDAO" type="Persistence.DAO.Pais.PaisDAO,Persistence" />
    <alias alias="IPageDAO" type="Persistence.DAO.Pg.IPageDAO,Persistence" />
    <alias alias="PageDAO" type="Persistence.DAO.Pg.PageDAO,Persistence" />
    <alias alias="IMPageDAO" type="Persistence.DAO.MPg.IMPageDAO,Persistence" />
    <alias alias="MPageDAO" type="Persistence.DAO.MPg.MPageDAO,Persistence" />
    <alias alias="IStaRgDAO" type="Persistence.DAO.StaRg.IStaRgDAO,Persistence" />
    <alias alias="StaRgDAO" type="Persistence.DAO.StaRg.StaRgDAO,Persistence" />
    <alias alias="ITExcpDAO" type="Persistence.DAO.Excp.TExcp.ITExcpDAO,Persistence" />
    <alias alias="TExcpDAO" type="Persistence.DAO.Excp.TExcp.TExcpDAO,Persistence" />
    <alias alias="IExCliDAO" type="Persistence.DAO.Excp.IExCliDAO,Persistence" />
    <alias alias="ExCliDAO" type="Persistence.DAO.Excp.ExCliDAO,Persistence" />
    <alias alias="IEmpDAO" type="Persistence.DAO.Emp.IEmpDAO,Persistence" />
    <alias alias="EmpDAO" type="Persistence.DAO.Emp.EmpDAO,Persistence" />
    <alias alias="IExMsgDAO" type="Persistence.DAO.Excp.ExMsg.IExMsgDAO,Persistence" />
    <alias alias="ExMsgDAO" type="Persistence.DAO.Excp.ExMsg.ExMsgDAO,Persistence" />
    <alias alias="ILogsDAO" type="Persistence.DAO.Logs.ILogsDAO,Persistence" />
    <alias alias="LogsDAO" type="Persistence.DAO.Logs.LogsDAO,Persistence" />
    <alias alias="ISimDAO" type="Persistence.DAO.Sim.ISimDAO,Persistence" />
    <alias alias="SimDAO" type="Persistence.DAO.Sim.SimDAO,Persistence" />
    <alias alias="ICmpUsr" type="Components.Usr.ICmpUsr,Components" />
    <alias alias="CmpUsr" type="Components.Usr.CmpUsr,Components" />
    <alias alias="ICmpPais" type="Components.Pais.ICmpPais,Components" />
    <alias alias="CmpPais" type="Components.Pais.CmpPais,Components" />
    <alias alias="ICmpCache" type="Components.Cache.ICmpCache,Components" />
    <alias alias="CmpCache" type="Components.Cache.CmpCache,Components" />
    <alias alias="ICmpPg" type="Components.Pg.ICmpPg,Components" />
    <alias alias="CmpPg" type="Components.Pg.CmpPg,Components" />
    <alias alias="ICmpMPg" type="Components.MPg.ICmpMPg,Components" />
    <alias alias="CmpMPg" type="Components.MPg.CmpMPg,Components" />
    <alias alias="ICmpRol" type="Components.Rol.ICmpRol,Components" />
    <alias alias="CmpRol" type="Components.Rol.CmpRol,Components" />
    <alias alias="ICmpStaRg" type="Components.StaRg.ICmpStaRg,Components" />
    <alias alias="CmpStaRg" type="Components.StaRg.CmpStaRg,Components" />
    <alias alias="ICmpRepUsr" type="Components.Rep.Usr.ICmpRepUsr,Components" />
    <alias alias="CmpRepUsr" type="Components.Rep.Usr.CmpRepUsr,Components" />
    <alias alias="ICmpEx" type="Components.Excp.ICmpEx,Components" />
    <alias alias="CmpEx" type="Components.Excp.CmpEx,Components" />
    <alias alias="ICmpExMsg" type="Components.Excp.ExMsg.ICmpExMsg,Components" />
    <alias alias="CmpExMsg" type="Components.Excp.ExMsg.CmpExMsg,Components" />
    <alias alias="ICmpLog" type="Components.Logs.ICmpLog,Components" />
    <alias alias="CmpLog" type="Components.Logs.CmpLog,Components" />
    <alias alias="ICmpSim" type="Components.Sim.ICmpSim,Components" />
    <alias alias="CmpSim" type="Components.Sim.CmpSim,Components" />
    <container name="Dao">
      <register type="IUsrDAO" mapTo="UsrDAO" />
      <register type="IRolDAO" mapTo="RolDAO" />
      <register type="IPaisDAO" mapTo="PaisDAO" />
      <register type="IPageDAO" mapTo="PageDAO" />
      <register type="IMPageDAO" mapTo="MPageDAO" />
      <register type="IStaRgDAO" mapTo="StaRgDAO" />
      <register type="ITExcpDAO" mapTo="TExcpDAO" />
      <register type="IExCliDAO" mapTo="ExCliDAO" />
      <register type="IEmpDAO" mapTo="EmpDAO" />
      <register type="IExMsgDAO" mapTo="ExMsgDAO" />
      <register type="ILogsDAO" mapTo="LogsDAO" />
      <register type="ISimDAO" mapTo="SimDAO" />
    </container>
    <container name="Cmp">
      <register type="ICmpUsr" mapTo="CmpUsr" />
      <register type="ICmpPais" mapTo="CmpPais" />
      <register type="ICmpCache" mapTo="CmpCache" />
      <register type="ICmpPg" mapTo="CmpPg" />
      <register type="ICmpMPg" mapTo="CmpMPg" />
      <register type="ICmpRol" mapTo="CmpRol" />
      <register type="ICmpStaRg" mapTo="CmpStaRg" />
      <register type="ICmpRepUsr" mapTo="CmpRepUsr" />
      <register type="ICmpEx" mapTo="CmpEx" />
      <register type="ICmpExMsg" mapTo="CmpExMsg" />
      <register type="ICmpLog" mapTo="CmpLog" />
      <register type="ICmpSim" mapTo="CmpSim" />
    </container>
  </unity>
  <SAPConnectionConfig>
    <add key="ServerHost" value="MXOCCSAPMRP02.NOAM.CEMEXNET.COM" />
    <add key="SystemNumber" value="00" />
    <add key="SystemID" value="MRP" />
    <add key="Client" value="500" />
    <add key="Language" value="ES" />
    <add key="PoolSize" value="5" />
    <add key="PeakConnectionsLimit" value="10" />
    <add key="IdleTimeout" value="600" />
    <add key="ResultSeparator" value="|" />
    <add key="User" value="mmsarmient" />
    <add key="Password" value="MSCEMEX45" />
    <add key="SAPOnlineConnection" value="true" />
  </SAPConnectionConfig>
  <appSettings>
    <add key="DomainName" value="SOAM" />
    <add key="Path_LDAP_Directory_Server" value="LDAP://soam.cemexnet.com" />
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="ServiceModel" />
      <add name="CustomAuthenticationModule" type="Infrastructure.HttpModule.CustomAuthenticationModule, Infrastructure" />
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
      <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Account/Login.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="svc-Integrated" />
      <remove name="xoml-Integrated" />
      <add name="*.vbhtml_*" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.vbhtm_*" path="*.vbhtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtml_*" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.cshtm_*" path="*.cshtm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.aspq_*" path="*.aspq" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xamlx_*" path="*.xamlx" verb="*" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*_AppService.axd_*" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="eurl.axd_*" path="eurl.axd" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <error statusCode="403" subStatusCode="4" path="https://cooccapp11.soam.cemexnet.com/SCSAP_Q" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_OS_CustomerStatementBinding" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SI_OS_CustomerStatementBinding1" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CHTB" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:03:00">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" />
        </binding>
        <binding name="ZB_ORDTAKINGCRM" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:05:00" sendTimeout="00:03:00">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mxoccsapeip01.noam.cemexnet.com:8180/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTP_Port" />
      <endpoint address="https://mxoccsapeip01.noam.cemexnet.com:51001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_SINCO_PRD_GBL&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OS_CustomerStatement&amp;interfaceNamespace=http%3A%2F%2Fcemex.com%2FSINCO%2FECCMEX%2FCustomerStatement" binding="basicHttpBinding" bindingConfiguration="SI_OS_CustomerStatementBinding1" contract="WSDL_CC_MRP.SI_OS_CustomerStatement" name="HTTPS_Port" />
      <endpoint address="http://mxoccsapmrp02.noam.cemexnet.com:8000/sap/bc/srt/xip/sap/zsi_is_external_to_ordertaking/500/zs_ordtakingcrm/zb_ordtakingcrm" binding="customBinding" bindingConfiguration="CHTB" contract="WSDL_SO_MRP.SI_IS_External_to_OrderTakingCRM" name="ZB_ORDTAKINGCRM" />      
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>-->