<?xml version="1.0"?>
<configuration>

  <!--<location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->


  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="CerrarSession.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="AuthE.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>
